<html>
	<head>
		<title>Receive</title>
	</head>

	<body>
		이름: <%=name %>
		<br />
		성별: <%=gender %>
		<br />
		생년월일: <%=year %>년 <%=month %>월 <%=date %>일
		<br />
		관심사:<%=interest %>
		<br />
		전화번호:<%=tel %>
		<br />
		오늘의 색:<%=color %>
		<br />
	</body>
</html>
