//* 실습33 - 동적 폼 전송 (Axios)
<html>
	<head>
		<title>user</title>
	</head>

	<body>
		이름: <%=name %>
        성별: <%=gender %>
        생년월일: <%=birth %>
        전화번호: <%=tel %>
        좋아하는색: <%=color%>
	</body>
</html>